
:root{
    --text-color:rgb(182, 182, 182);
}

.all-elements{
    position: absolute !important;
    right:10%;
    top: 25%;
}

.landingpage{
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}

.text-title {
    display: flex ;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    


}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color); 
}

.dashboard-cards {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 80px auto 0 auto;
    justify-content: center;
    gap: 5px;
}


.dashboard-card {
    background-color: rgb(25, 25, 25);
    width: 350px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    font-size: 18px;
    margin-right: 30px;
}


.dashboard-button-continer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

.dashboard-button-inventory {
    justify-content: center;
    width: 150px;
    padding: 6px;
    background: none;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.dashboard-button-inventory:hover {
    background-color: rgba(22, 22, 22, 0.2);
}


.dashboard-button-purchase {
    margin-left: 20px;
    width: 150px;
    padding: 6px;
    background-color: #0068FF;
    color: var(--text-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.dashboard-button-purchase:hover {
    background-color: #0055CC;
}

.dashboard-button-purchase a {
    color: white !important;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.dashboard-button-inventory a {
    color: var(--text-color) !important;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.landingpage{
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}