.signinupbg{
    background-size: cover; 
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.sign-in-card {
    background-color: black;
    padding: 30px;
    width: 350px;
    text-align: center !important;
    border-radius: 15px;
    position: absolute !important;
    right:38%;
    top: 12%;

    

    border: 2px solid white; 
    box-shadow: 
        5px 5px 0px white,  
        -5px -5px 0px rgba(0, 0, 0, 0.3); 
}

.sign-in-label {
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 450;
    text-align: left;
    margin-bottom: 5px;
}

.sign-in-input {
    width: 93%;
    font-size: 18px;
    font-weight: 350;
    padding: 10px;
    padding-bottom: 15px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
    outline: none;
    margin-bottom: 30px;
   
}

.sign-in-button {
    width: 60%;
    background: #0068FF;
    color: #fff;
    font-size: 16px;
    padding: 10px 40px;
    margin-top: 10px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 450;
    transition: background 0.3s;
}

.sign-in-button:hover {
    background: #0068FF;
    font-weight:600;
    color: #ffffff;
}

.sign-in-text {
    padding-top: 5px;
    color: white;
    font-size: 14px;
    margin-top: 10px;
}

.sign-in-link {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.sign-in-link:hover {
    color: #0068FF;
}
